@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background: #36393e;
}

* {
  font-family: 'Roboto', sans-serif;
}

.shadow-top {
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}

.message {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-down {
  0% {
    top: -50px; /* start off-screen */
  }
  100% {
    top: 0; /* slide down to the top of the page */
  }
}


.extend-start {
  width: 0;
}

.extend {
  width: 300px;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes slide-from-top {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes slide-from-right {

  from {
    transform: translateX(100%);
  } to {
    transform: translateX(0%);
  }
  
}




.slide-in-left {
  animation: slide-in-left 1s ease-in-out;
}

.slide-in-friends {
  animation: slide-from-right 1s ease-in-out;
}


.slide-in-top {
  animation: slide-in-top 1s ease-in-out;
}

.slide-from-top {
  animation: slide-from-top 1s ease-in-out;
}

.slide-from-bottom {
  animation: slide-from-bottom 1s ease-in-out;
}


.no-scroll {
  overflow: hidden;
}